doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		title= title
		link(rel="stylesheet", href="bootstrap/dist/css/bootstrap.min.css")
	body
		.container
			.text-center
				h1= title
			block content